<div>
<h2>Login:</h2><hr>
<form>
  <div>
    <label>E-mail:</label>
    <input type="text" id="email-login"/>
  </div>
  <div>
    <label>Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit" className="button is-primary">Login</button>
    <a href="/views/signup.handlebars"><button type="button" className="button is-danger">Signup</button></a>
  </div>
</form>
</div>

<script src="/public/js/login.js"></script>