{{!-- reviewed --}}

<section>
    <a href="/dashboard" class="is-pulled-right"> &larr; Back to dashboard</a>
  <h2 class="title">Create new post</h2><hr>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title:</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="New post title here"/>
    </div>
    <div>
      <label for="post-content">Post:</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="New post content here"/>
    </div>
    <button type="submit" class="button is-primary is-pulled-right">Create post</button>
  </form>
</section>

<script src="/public/js/add-post.js"></script>