<section>
    <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>Create new post</h2><hr>

  <form>
    <div>
      <label>Title:</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="New post title here"/>
    </div>
    <div>
      <label>Post:</label>
      <input placeholder="New post content here"/>
    </div>
    <button type="submit">Create post</button>
  </form>
</section>

<script src="/public/js/add-post.js"></script>