{{!-- Reviewed --}}

<div class="column">
<h2 class="title pb-4">create new account:</h2><hr>
<form class="signup-form">
  <div>
    <label>Username:</label>
    <input/>
  </div>
  <div>
    <label>E-mail:</label>
    <input/>
  </div>
    <div>
    <label>GitHub:</label>
    <input/>
  </div>
  <div>
    <label>Password:</label>
    <input/>
  </div>
  <div>
    <button>Signup</button>
  </div>
</form>
</div>

<script src="/public/js/signup.js"></script>